@use "style";

.title-input {
    @extend .miniwin-body;
    display:block;
    width: 70%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}

.title-input:focus {
    outline: none;
}

.content-header {
    @extend .miniwin-header;
    display: block;
    width: 70%;
    padding: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
}

.content-body {
    @extend .miniwin-body;
    display: block;
    width: 70%;
    text-align: center;
}

.content-input {
    @extend .miniwin-body;
    margin-top:12px;
    width: 90%;
    height: 300px;
    font-family: "Arial";
    font-size: 14px;
    resize: none;
}

.content-input:focus {
    resize: none;
    width: 90%;
}

.text-buttons {
    width: 32px;
    height: 32px;
}