@use "style";

.threadtitle {
    font-family: Arial;
    font-size:  24px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 18px;
}

.threadheader-left {
    display: inline-block;
    width: 50%;
}

.threadheader-right {
    display: inline-block;
    width: 50%;
}

.threadfooter {
    padding: 12px;
    padding-left: 32px;
    padding-bottom: 0px;
    width: 96%
}

.replybutton {
    @extend .button-accent;
    margin: 12px;
    font-size: 14px;
    border: 1px solid #7D528C;
    box-shadow: inset 0px 4px 6px 0px #E2B0DD;
    background: #BD8ABE;
}

.replybutton:hover {
    border: 1px solid #5a4070;
    box-shadow: inset 0px 4px 6px 0px #c399c7;
    background: #9e77b1;
}