@use "style";

.category-win {
    width: 100%;
    margin-bottom: 32px;
    border-spacing: 0px;
}

.category-win-header {
    @extend .miniwin-header;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px;
    padding-left: 24px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-win-header:hover {
    background: #9e77b1;
    box-shadow: inset 0px 4px 6px 0px #c399c7, 0px 4px 4px 0px #7d528c3b;
}

.category-win-body {
    @extend .miniwin-body;
    display: table;
    width: 99.5%;
    padding: 2px;
}

.category-win-body-row {
    display: table-row;
    color:#555555;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

.category-win-body-row:hover{
    background: #dccfe4;
}

.category-win-body-cell {
    display: table-cell;
    padding: 24px;
    border-top: 1px solid #7D528C;
}

.listing-win {
    display: table;
    width: 100%;
    border-spacing: 0px;
    box-shadow: 0px 4px 4px 0px #7d528c31;
    margin-bottom: 32px;
}

.listing-win-header {
    display: table-row;
}

.listing-win-header-cell {
    @extend .miniwin-header;
    font-size: 16px;
    padding: 8px;
    display: table-cell;
}

.listing-win-header-cell-l {
    @extend .listing-win-header-cell;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.listing-win-header-cell-m {
    @extend .listing-win-header-cell;
    border-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.listing-win-header-cell-r {
    @extend .listing-win-header-cell;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.listing-win-body-row {
    display: table-row;
    text-decoration: none;
    cursor: pointer;
    padding: 2px;
    transition: background-color 0.3s;
}

.listing-win-body-row:hover .listing-win-body-cell{
    background: #dccfe4;
}

.listing-win-body-cell {
    @extend .miniwin-body;
    display: table-cell;
    padding: 12px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #7d528c31;
}

.listing-win-body-cell-l {
    @extend .listing-win-body-cell;
    border-right: 0px;
    border-top: 0px;
}

.listing-win-body-cell-m {
    @extend .listing-win-body-cell;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.listing-win-body-cell-r {
    @extend .listing-win-body-cell;
    border-left: 0px;
    border-top: 0px;
}

.listing-win-body-cell-bl {
    @extend .listing-win-body-cell;
    border-bottom-left-radius: 5px;
    border-top: 0px;
    border-right: 0px;
}

.listing-win-body-cell-bm {
    @extend .listing-win-body-cell;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.listing-win-body-cell-br {
    @extend .listing-win-body-cell;
    border-bottom-right-radius: 5px;
    border-top: 0px;
    border-left: 0px;
}