@use "style";

.category-win {
    width: 100%;
    margin-bottom: 32px;
    border-spacing: 0px;
}

.category-win-header {
    @extend .miniwin-header;
    font-size: 16px;
    border-radius: 5px;
}

.category-win-body {
    @extend .miniwin-body;
    padding: 0px;
}

.category-win-body-row {
    display: table-row;
}

.category-win-body-cell {
    display: table-cell;
    padding: 24px;
    border-top: 1px solid #7D528C;
}

.listing-win {
    display: table;
    width: 100%;
    border-spacing: 0px;
    box-shadow: 0px 4px 4px 0px #7d528c31;
    margin-bottom: 32px;
}

.listing-win-header {
    display: table-row;
}

.listing-win-header-cell {
    @extend .miniwin-header;
    font-size: 16px;
    padding: 8px;
    display: table-cell;
}

.listing-win-header-cell-l {
    @extend .listing-win-header-cell;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.listing-win-header-cell-m {
    @extend .listing-win-header-cell;
    border-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.listing-win-header-cell-r {
    @extend .listing-win-header-cell;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.listing-win-body-row {
    display: table-row;
}

.listing-win-body-cell {
    @extend .miniwin-body;
    display: table-cell;
    padding: 12px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px #7d528c31;
}

.listing-win-body-cell-l {
    @extend .listing-win-body-cell;
    border-right: 0px;
    border-top: 0px;
}

.listing-win-body-cell-m {
    @extend .listing-win-body-cell;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.listing-win-body-cell-r {
    @extend .listing-win-body-cell;
    border-left: 0px;
    border-top: 0px;
}

.listing-win-body-cell-bl {
    @extend .listing-win-body-cell;
    border-bottom-left-radius: 5px;
    border-top: 0px;
    border-right: 0px;
}

.listing-win-body-cell-bm {
    @extend .listing-win-body-cell;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.listing-win-body-cell-br {
    @extend .listing-win-body-cell;
    border-bottom-right-radius: 5px;
    border-top: 0px;
    border-left: 0px;
}