@use "style";

.postactions {
    display: table-row;
    width: 100%;
}

.postactions-space {
    display: table-cell;
    width: 15%;
    min-width: 180px;
}

.postactions-buttonblock {
    display: inline-block;
    float: right;
    padding-right: 48px;
}

.postbulk {
    display: table-row;
    padding: 20px;
}

.postsignature {
    display: table-row;
}

.postsignature-space {
    display: table-cell;
    width: 15%;
    min-width: 180px;
}

.postsignature-content {
    display: table-cell;
    text-align: center;
    padding: 32px;
}

.postuser {
    width: 15%;
    min-width: 180px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-right: 32px;
}

.postuserstatus {
    padding: 4px;
    font-size: 12px;
}

.postuserbuttonblock {
    display: inline-block;
}

.postbutton {
    @extend .button;
    display: table-cell;
    margin: 4px;
}

.postbutton-accent {
    @extend .button-accent;
    display: table-cell;
    margin: 4px;
}

.postwin {
    display: table-cell;
}

.postwin-header {
    @extend .miniwin-header;
    margin-right: 42px;
    padding: 6px;
    padding-right: 18px;
    font-size: 12px;
    text-align: right;
}

.postwin-body {
    @extend .miniwin-body;
    min-height: 200px;
    height: auto;
    margin-right: 42px;
    text-wrap: wrap;
    overflow: hidden;
    max-width: 1000px;
}