@use "style";

body {
    color:#555555;
    background-image: url('../../assets/images/backgrounds/space.png');
    background-size: cover;
    font-family: Arial;
}

.page-scaling {
    width: 65%;
    min-width: 900px;
}

.page-header {
    @extend .page-scaling;
    height: 200px;
}

.page-footer {
    @extend .page-scaling;
    height: 200px;
}

.contentbox-header {
    @extend .miniwin-header;
    @extend .page-scaling;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
}

.contentbox-body {
    @extend .page-scaling;
    position: relative;
    display: table;
    margin: auto;
    margin-top:-15px;
    background: #dad0e7b7;
    padding: 25px;
    border-spacing: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #583a6331;
}

.nav-button {
    @extend .button;
    font-size: 16px;
    border: 0px solid #7D528C;
    border-right: 1px solid #7D528C;
    box-shadow: inset 0px 4px 6px 0px #E2B0DD;
    background: #BD8ABE;
    border-radius: 0px;
    height: 35px;
    padding-left: 32px;
    padding-right: 32px;
}

.nav-button:hover {
    box-shadow: inset 0px 4px 6px 0px #c399c7;
    background: #9e77b1;
}

.nav-button-accent {
    @extend .nav-button;
    border: 0px solid #427C9C;
    border-right: 1px solid #427C9C;
    box-shadow: inset 0px 4px 6px 0px #d2fffa60;
    background: #69ACA8;
}

.nav-button-accent:hover {
    box-shadow: inset 0px 4px 6px 0px #d2ffff54;
    background: #598a96;
}

.internal-header {
    display: inline-block;
    padding: 12px;
    padding-left: 32px;
    padding-bottom: 0px;
    width: 96%;
}

.internal-body {
    padding-top: 18px;
}

.internal-footer {
    @extend .internal-header;
}

.hyperlink {
    text-decoration: none;
    color: #427C9C;
    transition: color 0.3s;
}

.hyperlink:hover {
    color: rgb(60, 88, 139);
}

.pagebutton {
    @extend .button;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 6px;
    height: 14px;
    width: 14px;
    border-radius: 0px;
    text-decoration: none;
}

.pagebutton-accent {
    @extend .pagebutton;
    background: #9a9ba0;
    box-shadow: inset 0px 4px 6px 0px #d5d6d8b6;
    border: 1px solid #6f6c75;
}

.pagebutton-accent:hover {
    @extend .pagebutton;
    background: #797a7e;
    box-shadow: inset 0px 4px 6px 0px #b9babdb6;
    border: 1px solid #58555e;
}

.pagebuttons {
    display: table-row;
    width: 100%;
}

.pagebuttons-space {
    display: table-cell;
    width: 15%;
    min-width: 180px;
}

.pagebuttonscontainer {
    display: inline-block;
    float: right;
}

.pagebuttonjumpinput{
    visibility: hidden;
    position: absolute;
    padding: 8px;
    margin: 8px;
    font-size: 12px;
    height: 6px;
    width: 74px;
    left: -45px;
    top: -40px;
}