@use "style";

body {
    color:#555555;
    background-image: url('../../assets/images/backgrounds/space.png');
    background-size: cover;
    font-family: Arial;
}

.page-scaling {
    width: 65%;
    min-width: 900px;
}

.page-header {
    @extend .page-scaling;
    height: 200px;
}

.page-footer {
    @extend .page-scaling;
    height: 200px;
}

.contentbox-header {
    @extend .miniwin-header;
    @extend .page-scaling;
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
}

.contentbox-body {
    @extend .page-scaling;
    position: relative;
    display: table;
    margin:auto;
    margin-top:-15px;
    background: #dad0e7b7;
    padding: 25px;
    border-spacing: 5px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #583a6331;
}

.nav-button {
    @extend .button;
    font-size: 16px;
    border: 0px solid #7D528C;
    border-right: 1px solid #7D528C;
    box-shadow: inset 0px 4px 6px 0px #E2B0DD;
    background: #BD8ABE;
    border-radius: 0px;
    height: 35px;
    padding-left: 32px;
    padding-right: 32px;
}

.nav-button:hover {
    box-shadow: inset 0px 4px 6px 0px #c399c7;
    background: #9e77b1;
}