@use "style";

.threadtitle {
    font-family: Arial;
    font-size:  24px;
    font-weight: bold;
    padding-bottom: 12px;
}

.threadheader {
    padding: 12px;
    padding-left: 32px;
    padding-bottom: 0px;
    width: 100%
}

.pagebutton {
    @extend .button;
    display: inline-block;
    position: relative;
    font-size: 12px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px;
}

.pagejumpbutton {
    @extend .pagebutton;
    top: -1px;
    height: 14px
}

.pagebutton-accent {
    @extend .pagebutton;
    background: #9a9ba0;
    box-shadow: inset 0px 4px 6px 0px #d5d6d8b6;
    border: 1px solid #6f6c75;
}

.pagebutton-accent:hover {
    @extend .pagebutton;
    background: #797a7e;
    box-shadow: inset 0px 4px 6px 0px #b9babdb6;
    border: 1px solid #58555e;
}

.pagebuttons {
    display: table-row;
    width: 100%;
}

.pagebuttons-space {
    display: table-cell;
    width: 15%;
    min-width: 180px;
}

.pagebuttonscontainer {
    display: inline-block;
    float: right;
    padding-right: 48px;
    padding-bottom: 24px;
}

.pagebuttoncounter {
    display: inline-block;
    padding: 8px;
    font-size: 12px;
}

.pagebuttonjumpinput{
    visibility: hidden;
    position: absolute;
    padding: 8px;
    margin: 8px;
    font-size: 12px;
    height: 6px;
    width: 74px;
    left: -45px;
    top: -40px;
}