@use "style";

.threadtitle {
    font-family: Arial;
    font-size:  24px;
    font-weight: bold;
    padding-bottom: 12px;
}

.threadheader {
    padding: 12px;
    padding-left: 32px;
    padding-bottom: 0px;
    width: 100%
}

.pagebutton {
    @extend .button;
    font-size: 12px;
    padding: 4px;
    border-radius: 0px;
    height: 26px;
    width: 28px;
}

.pagebutton-accent {
    @extend .button-accent;
    @extend .pagebutton;
}

.pagebuttons {
    display: table-row;
    width: 100%;
}

.pagebuttons-space {
    display: table-cell;
    width: 15%;
    min-width: 180px;
}

.pagebuttonscontainer {
    display: inline-block;
    float: right;
    padding-right: 48px;
    padding-bottom: 24px;
}