@use "style";

.threadtitle {
    font-family: Arial;
    font-size:  24px;
    font-weight: bold;
    padding-bottom: 12px;
}

.threadheader {
    padding: 12px;
    padding-left: 32px;
    padding-bottom: 0px;
    width: 100%
}
